body {
    background: linear-gradient(90deg, #3AB7FF, #A45CFF,#FF4FD8);
    font-family: 'Alata', sans-serif;
    margin: 0;
}


.heroImage {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80vh;
    margin: 0;
    border: 50px solid rgb(13, 15, 18);
    background: linear-gradient(90deg, #3AB7FF, #A45CFF,#FF4FD8);
    position: relative;
}

.heroImg {
    width: 20vw;
    height: auto;
    margin-left: 15vw;
    justify-content: center;
    align-self: center;
    display: inline;
    border:solid 5px black;
}

#flexText {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    position: relative;
    width: 40vw;
    height: 30vh;
    margin-top: 19vh;
    margin-left: 2vw;
}

h1 {
    font-size: 3.5em;
    color: white;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 2em;
    color: white;
    margin-top: 1vh;
    padding: 0;
}
h3{
    font-size: 1.5em;
    color: white;
    margin-top: 3vh;
    padding: 0;
}

.content {
    background: rgb(13, 15, 18);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards {
    width: 25vw;
    height: 50vh;
    justify-self: center;
    align-items: center;
    text-align: center;
    background: rgba(75, 46, 127, 0.5);
    border-radius: 5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 5vh;
    color: #3AB7FF;
}

.cardImg {
    width: 20vw;
    height: 20vh;
    margin-bottom: 3vh;
}

p {
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding-left: 2vw;
    padding-right: 2vw;
}

a {
    font-size: 1.5em;
    position: relative;
    top: 5vh;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #FF4FD8;
}


